/* KEYFRAMES */
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@font-face {
    font-family: 'Aldrich';
    src: url('Aldrich.ttf') format('truetype');
}

@keyframes reveal-header {
    0% {
        top: -4em;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

html {
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: rgb(255, 255, 255);
    font-family: 'Aldrich';
    font-size: 16px;
    line-height: 1.5em;
}
body {
    display: block;
    margin: 0;
    padding: 0;
    color: rgb(68, 68, 68);
}
    header {
        display: flex;
        justify-content: space-between;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        top: 0;
        z-index: 3;
        animation: fade-down 1s;
        transition: 0.6s;
    }
    header.sticky {
        background: rgba(0, 0, 0, 0.75);
    }
        .LogoName {
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration: none;
            padding: 1.5em 1em;
            font-size: 1.1rem;
            font-weight: 200;
            color: rgb(255, 255, 255);
        }
        @media (min-width: 736px) { .LogoName { padding-left: 2em; } }
            .LogoImage {
                padding-left: 0.5em;
            }
        .MenuTrigger {
            display: block; 
            padding: 0.375rem; 
            margin: 0; 
            margin-right: 1.5em;
            background: transparent; 
            border: none; 
            appearance: none; 
            cursor: pointer;
        }
        @media (min-width: 736px) { .MenuTrigger { margin-right: 2em; } }
        .MainMenu {
            display: none; 
            padding: 1.5rem 0.5rem; 
            position: absolute;
            width: 15rem; 
            height: 100vh;
            top: 0; 
            right: 0; 
            bottom: 0; 
            left: -300px;
            transition: 0.4s linear;
        }
        .MainMenu.Active { 
            display: block;
            position: absolute;
            left: 0;
            box-shadow: 0 4em 4em  rgba(0, 0, 0, 0.4); ; 
            background:  rgba(161, 150, 136, 0.98);   
        }
            .MainMenuList {
                display: block;
                padding: 1rem;
                margin: 0;
            }
                .MainMenuItem {
                    display: block; 
                }
                    .MainMenuItemLink {
                        display: block; 
                        padding: 0.5em; 
                        color: rgba(212, 212, 212, 0.849);
                        background: transparent;
                        font-size: 1em; 
                        font-weight: 600; 
                        text-decoration: none;
                        box-shadow: 1px 0 0 rgba(211, 196, 177, 0.21);
                        transition: .3s;
                    }
                    .MainMenuItemLink:hover { 
                        color:rgb(255, 255, 255);
                        box-shadow: 1.5px 0 0 rgba(237, 222, 204, 0.918);
                    }
    main {
        margin: 0;
        padding: 0;
    }
        .Banner {
            display: flex;
            align-items: center;
            justify-content: center;
            background: black url(./images/banner.jpg) center center no-repeat;
            background-size: cover;
            position: relative;
            text-align: center;
            min-height: 0px;
            height: auto !important;
            padding: 6rem 2rem 4rem;
            border-top: 0px;
            overflow: hidden;
            isolation: isolate;
        }
        .Banner::after {
            display: block;
            position: absolute;
            content: '';
            inset: 0;
            background-color: rgba(0, 0, 0, 0.75);
            opacity: 0.5;
        }
        @media (min-width: 736px) { .Banner { max-height: 79.7vh; height: 100vh !important; }}
            .Inner {
                position: relative;
                width: 100%;
                z-index: 2;
                animation: fade-up 0.5s;
            } 
                .InnerTitle {
                    color: white;
                    line-height: 2.3rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                }
                @media (min-width: 736px) { .InnerTitle { font-size: 3rem; line-height: 4rem; font-weight: 900;}}
                .InnerParagraph {
                    line-height: 1.8rem;
                    font-weight: 100;
                    color: rgba(255, 255, 255, 0.65);
                    margin-bottom: 4rem;
                }
                @media (min-width: 736px) { .InnerParagraph { font-size: 1.5rem; line-height: 2.5rem; margin-bottom: 5rem;}}
                .GetStartedBtn {
                    text-decoration: none;
                    background-color: rgb(161, 150, 136);
                    color: white;
                    appearance: none;
                    cursor: pointer;
                    font-weight: 200;
                    border-radius: 4px;
                    padding: 1rem;
                } 
                    .GetStartedBtn:hover, .GetStartedBtn:focus-visible {
                        background-color: rgba(161, 150, 136, 0.495);
                    }

        .SectionOne {
            display: block;
            background-color: #f2f2f2;
            position: relative;
            margin: 0;
            padding: 3rem 0;
        }   
            .Box {
                display: block;
                background-color: #fff;
                width: 90%;
                
                margin: 0 auto;
                padding: 0;
            }   
            @media (min-width: 736px) { .Box { width: 80%; }}
                .BoxImage {
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    border: 0;
                    position: relative;
                    height: clamp(100px, 30vw, 18rem);
                }   
                .Content {
                    display: block;
                    padding: 2rem;
                }
                @media (min-width: 736px) { .Content { padding: 4rem;}}
                    .ContentTitle h2 {
                        text-align: center;
                        padding-bottom: 1rem;
                        color: black;
                    }
                    .ContentTitle {
                        text-align: center;
                        padding-bottom: 1rem;
                        color: #999999;
                        font-weight: 500;
                        font-size: 1rem;
                    }
                    .ContentParagraph {
                        padding-top: 1rem;
                        color: #999999;
                        font-weight: 100;
                        font-size: 0.9rem;
                    }
        .SectionTwo {
            display: block;
            margin: 0;
            padding: 1rem 0;
            position: relative;
            background-color: black;
            color: #bfbfbf;
            background-image: url(images/bg.jpg);
            background-size: cover;
            background-position: center;
        }
        .SectionTwo::before {
            display: block;
            position: absolute;
            content: '';
            inset: 0;
            background-color: rgba(0, 0, 0, 0.95);
            opacity: 0.75;
            margin: 0;
            padding: 2rem 0;
        }
            .SectionBox {
                display: block;
                position: relative;
                width: 90%;
                margin: 0 auto;
                padding: 0 1rem;
            }
                .SectionGrid {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    flex-flow: column wrap;
                    justify-content: space-around;
                    align-items: stretch;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
                @media (min-width: 1000px) { .SectionGrid {flex-direction: row;}}
                    .SectionGridItem {
                        display: block;
                        border-bottom: 1px solid;
                        border-color: rgba(255, 255, 255, 0.25);
                        text-align: center;
                        padding: 1.5rem;
                        flex-basis: 15rem;
                    }
                    @media (min-width: 1000px) { .SectionGridItem {border-bottom: 0; border-right: 1px solid; border-color: rgba(255, 255, 255, 0.25); padding: 1.5rem;} }
                    @media (min-width: 1000px) { .SectionGridItem:last-child { border-right: none;} }
                    @media (min-width: 1200px) { .SectionGridItem { padding-right: 5rem;} }
                    @media (min-width: 1500px) { .SectionGridItem { padding-right: 7rem;} }
                    .SectionGridItem:last-child {
                        border-bottom: none;
                    }    
                        .SectionGridItem h2 {
                            color: white;
                            font-weight: 300;
                            margin-bottom: 1.5rem;
                        }
                        .SectionGridItem p {
                            margin-bottom: 1.5rem;
                            font-weight: 100;
                        }
                        .SectionGridBtn {
                            text-decoration: none;
                            box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
                            color: #ffffff !important;
                            width: 80%;
                            margin: 0 0 1rem 0;
                            padding: 0;
                            appearance: none;
                            border-radius: 4px;
                            cursor: pointer;
                            display: inline-block;
                            font-weight: 100;
                            height: 2.85rem;
                            line-height: 2.95rem;
                            text-align: center;
                            text-decoration: none;
                            text-transform: uppercase;
                        }
                        @media (min-width: 500px) { .SectionGridBtn { width: 10rem;}}
                        .SectionGridBtn:hover {
                            background-color: #f2f2f20e;
                            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                        }
        .SectionThree {
            display: block;
            position: relative;
            margin: 0;
            padding: 3rem 0;
        }   
            .SectionThreeBox {
                display: block;
                width: 90%;
                margin: 0 auto;
                padding: 0;
            }        
            @media (min-width: 736px) { .SectionThreeBox { width: 80%;}}
                .SectionThreeGrid {
                        display: block;
                        margin: 0 auto;
                        padding: 0;
                        list-style-type: none;
                }      
                @media (min-width: 1000px) { .SectionThreeGrid { display: grid; grid-template-columns: repeat(auto-fill, minmax(400px, 2fr)); justify-content: end;}}
                @media (min-width: 1500px) { .SectionThreeGrid { display: grid; grid-template-columns: repeat(auto-fill, minmax(600px, 2fr)); justify-content: end;}}
                @media (min-width: 1000px) { .SectionThreeGrid:last-child {margin-right: 0;} }    
                    .SectionThreeGridItem {
                        display: block;
                        clear: both;
                        margin-bottom: 2rem;
                        background-color: #fff;
                        font-size: clamp(1rem, 8vw, 8rem);
                    }   
                    @media (min-width:1000px) { .SectionThreeGridItem {margin-right: 2rem; height: 90vh; }}
                    .SectionThreeGridItem:last-child {
                        margin-bottom: 0;
                        margin-right: 0;
                    }   
                    @media (min-width: 1000px) { .SectionThreeGridItem:last-child { margin-bottom: 2rem;}}
                        .SectionThreeBoxImage {
                            display: block;
                            margin: 0;
                            padding: 0;
                            width: 100%;
                            height: clamp(200px, 30vw, 13rem);
                            border: 0;
                            position: relative;
                        }   
                            .SectionThreeContentTitle {
                                text-align: center;
                                
                                color: #999999;
                                font-weight: 500;
                                font-size: 1rem;
                            }
                            .SectionThreeContentParagraph {
                                color: #999999;
                                font-weight: 100;
                                font-size: 0.9rem;
                            }
        .SectionFour {
            display: block;
            margin: 0;
            padding: 1rem 0;
            position: relative;
            background-color: black;
            color: #bfbfbf;
            background-image: url(images/bg.jpg);
            background-size: cover;
            background-position: center;
        }
        .SectionFour::before {
            display: block;
            position: absolute;
            content: '';
            inset: 0;
            background-color: rgba(0, 0, 0, 0.95);
            opacity: 0.75;
            margin: 0;
            padding: 0;
        }
        .SectionFour h2{ 
            padding-bottom: 1rem;
        }
            .SectionFourBox {
                display: block;
                position: relative;
                width: 90%;
                margin: 0 auto;
                padding: 0 1rem;
            }
                .SectionFourGridItem {
                    display: block;
                    text-align: center;
                    padding: 1.5rem 0;   
                }
                .SectionFourGridItem h2 {
                    color: white;
                    font-weight: 300;
                    margin-bottom: 1.5rem;
                }
                .SectionFourGridItem p {
                    margin-bottom: 1.5rem;
                    font-weight: 100;
                }
                 
    footer {

    }
